body{
  color: #1F2937;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;
  animation: backgroundGradient 20s ease infinite;
  background: linear-gradient (-45deg,  #e2592f, #dd1964, #0faee7, #16d861);
}
html{
  font-size: 20px;
}
#title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}
#gametitle{
  font-family: sans serif;
  font-size: 50px;
  animation: titleShadowZoom 5s ease  infinite;
}
#menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 5rem;
  margin-bottom: 3rem;
}
.featurebutton{
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  margin: 1rem;
  width: 100px;
  text-transform: uppercase;
  font-weight: bolder;
}
#rainbowbutton{
  animation: rainbowButtonBackground 5s ease infinite;
}
#opaquebutton{
  animation: opaqueButtonBackground 5s ease infinite;
}
#main{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 40rem;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
.gamecell{
  padding: 0px;
  background-color: white;
  animation: gameShadowZoom 5s ease infinite;
}
@media only screen and (max-width: 800px){
  html{
    font-size: 10px;
  }
}
@media only screen and (max-width: 550px){
  html{
    font-size: 8px;
  }
}
@media only screen and (max-width: 450px){
  html{
    font-size: 7px;
  }
}
@keyframes backgroundGradient{
  0%{
    background-position: 0% 0%;
  }
   50%{
    background-position: 100% 50%;
  }
   100%{
    background-position: 0% 0%;
  }
}
@keyframes titleShadowZoom{
  0%{
    text-shadow: 1px 1px #000000;
  }
  50%{
    text-shadow: 4px 4px #000000;
  }
  100%{
    text-shadow: 1px 1px #000000;
  }
}
@keyframes rainbowButtonBackground{
  0%{
    background-color: #ff6262;
  }
   20%{
    background-color: #ffef62;
  }
   40%{
    background-color: #7cff62;
  }
   60%{
    background-color: #62ffe5;
  }
   80%{
    background-color: #6272ff;
  }
   100%{
    background-color: #ff62ff;
  }
}
@keyframes opaqueButtonBackground{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 100;
    color: black;
  }
  100%{
    opacity: 0;
  }
}
@keyframes gameShadowZoom{
  0%{
    box-shadow: 3px 3px #000000;
  }
   50%{
    box-shadow: 10px 10px #000000;
  }
   100%{
    box-shadow: 3px 3px #000000;
  }
}
  
